*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: #255EE9;
}

.debug{
    border: 1px solid rgb(0, 0, 0);
}

.bg-white{
    background-color: white;
}

.first-section{
    background-image: url(../img/jumbo.png);
    height: 530px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-section{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;

}

.center-items{
    align-items: center;
}

.text-align-center{
    text-align: center;
}

.justify-center{
    justify-content: center;
}

.flex-between{
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 20;
    align-items: center;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    padding: 10px 13px;
    border: none;
    cursor: pointer;
}

.bg-blue{
    background-color: var(--color-blue);
}

.cl-white{
    color: white;
}

.cl-black{
    color: black;
}

.row-reverse{
    flex-direction: row-reverse;
}
.container{
    max-width: 1450px;
    width: 80%;
    margin: 0 auto;
}

.max-width{
    max-width: 1450px;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.padding-150r{
    padding-right: 150px;
}

.padding-150l{
    padding-left: 150px;
}


.flex-end{
    justify-content: flex-end;
}

.dis-flex{
    display: flex;
    flex-wrap: wrap;
}

.text{
    width: 30%;
}

.image, .flexgrow{
    flex-grow: 1;
}

.buttons{
    padding: 5px 20px;
    border-radius: 13px;
}

.footer-top{
    border-bottom: 2px solid red;
}